* {
    box-sizing: border-box;
    text-align: center;
}
header, nav, section, aside, footer {
    background: #ebebeb ;
 }

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
    font-size: 18px ;
    margin: auto ;
    color: #777;
    background: #777;
}
header{
    padding: 20px;
    margin-bottom: 10px;
  }

nav{
    padding: 20px;
    margin-bottom: 20px;
}

section{
    float: left;
    width: 495px;
    height: 300px;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 8px;
   
    }

    article{
     margin: auto;
    overflow: auto ;
    color: #eed0d0 ;
    background-color: #666;
    padding: 10% ;
    width:90%;
   
    }

 h1,h2,h3{
    padding: 20px;
    background: grey;
    float: left;
    width: 33%;
    text-align: center;
    font-size: 18px;
    
 }

p{
    padding: 20px;
    background: grey;
    float: left;
    width: 99%;
    text-align: center;
    font-size: 18px;
}

div{
    height: 60px;
    overflow:auto;
}



 aside{
    float: left ;
    width: 450px;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 10px;
    }

 

    #footer{
        display: block ;
        clear: both;
        padding: 20px;
        margin-top: 30px;
    }