* {
    box-sizing: border-box;
    text-align: center;
}

body{
    
}
header{
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }

nav{
    padding: 20px;
    margin-bottom: 20px;
    background: rgb(168, 65, 65);
}

section{
    float: left;
    width: 50%;
    padding: 20px;
    height: 50%;
    margin-bottom: 20px;
    background: rgb(224, 21, 21);
    height: 25pc;
    }

    article{
        
        padding: 20px;
        margin-bottom: 20px;
        background: rgb(21, 224, 21);
    }
 h1,h2,h3{
    padding: 20px;
    background: grey;
    float: left;
    width: 33%;
    text-align: center;
    font-size: 18px;
    
 }

div{
    height: 60px;
    overflow:auto;
}

 p{
    padding: 20px;
    margin: 20px;
    background: #333
 }

 aside{
        float: left;
        width: 50%;
        height: 25pc;
        padding: 20px;
        margin-bottom: 20px;
        background: rgb(221, 224, 21);
    }

 

    #footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgb(221, 224, 21);
    }